@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
	outline: 0;
}
body{
	overflow-x: hidden;
}
ol,
ul {
	list-style: none;
}
a,
a:hover,
a:focus {
	text-decoration: none;
	outline: 0;
}
img {
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption {
	margin-top: 0;
	margin-bottom: 0;
}
html {
	scroll-behavior: smooth;
}
button,
input,
textarea,
select {
	outline: none !important;
}
section{
	width: calc(100% - 80px);
	height: 100vh;
	padding: 100px 0px;
	margin-left: 80px;
}
section:nth-of-type(even){
	background: var(--bgc);
}
h2.common{
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: var(--hc);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}
h3.common{
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: var(--hc);
	text-transform: uppercase;
	letter-spacing: 2px;
}
p.common{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: var(--prc);
	text-align: center;
	text-transform: capitalize;
	padding-bottom: 5px;
}
p.common2{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: var(--pc);
}
p.common3{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: var(--prc);
}
:root{
	--prc: #ff4e3d;
	--prcfi: rgba(255, 78, 61, 0.8);
	--hc: #fff;
	--pc: #999999;
	--pcd: #333333;
	--bgc: #2a2a2e;
}
.underline{
	width: 100px;
	height: 2px;
	background: var(--prc);
	margin: 30px auto;
}
/*----------common css ends----------*/
header {
    background-color: var(--bgc);
    width: 80px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 99;
}
header.nav_fix{
	background: #3b3b3b;
}
header.nav_fix .menu{
	background: #3b3b3b;
}
.logo{
    text-align: center;
    margin-top: 25px;
    line-height: 0;
	padding: 10px;
}
.logo .center-circle {
    width: 60px;
    display: inline-block;
}
.logo img{
    width: 100%;
}
.menu {
    margin-top: 40px;
    text-align: center;
    background: var(--bgc);
    padding: 35px 0;
    position: relative;
}
.menu .menu-item-box {
    position: relative;
    margin-bottom: 20px;
}
.menu .menu-item-box .menu-item {
    line-height: 0;
    margin: 0;
    text-decoration: none;
	color: var(--pc)
}
.menu .menu-item-box .menu-item .menu-item-icon {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.41);
}
a {
    color: #6c6d70;
    text-decoration: none;
}
*,
:after,
:before {
    transition: all .3s linear;
}
.menu .menu-item-box:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 60%;
}
.menu .menu-item-box:before {
    /* content: ''; */
    position: absolute;
    top: 0;
    left: -5px;
    height: 100%;
    width: 3px;
    background: var(--bgc);
}

.menu .active.menu-item-box:before {
    background: var(--prc);
    left: 0;
}

.menu .menu-item-box:hover:before {
    background: var(--pc);
    left: 0;
}
.menu .active.menu-item-box .menu-item i {
    color: var(--prc);
}
.menu .menu-item-box:hover .menu-item i {
    color: var(--hc);
}

.menu-item-box:last-of-type {
    margin: 0;
}
span.menu-item-name {
    margin-left: 10px;
    position: absolute;
    left: 60%;
    background: var(--bgc);
    height: 25px;
    line-height: 25px;
    padding: 0px 20px;
    box-sizing: border-box;
    color: var(--hc);
    display: block;
    border-radius: 3px;
    width: auto;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}
.menu-item-box:hover span.menu-item-name {
    left: 100%;
    opacity: 1;
}
span.menu-item-name:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    border-width: 5px;
    border-color: transparent;
    border-style: solid;
    border-right-color: var(--bgc);
}
.go-down {
    background: var(--prc);
    position: absolute;
    bottom: 0px;
    height: 80px;
    width: 100%;
}
.go-down i {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    color: var(--hc);
    font-size: 24px;
}
.menu:before {
    color: var(--hc);
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    content: 'menu';
	font-family: 'Fjalla One', sans-serif;
}
.menu .menu-item-box .menu-item {
    width: 36px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    height: 36px;
    display: inline-block;
    line-height: 36px;
}
.menu .active.menu-item-box .menu-item {
    border: 1px solid var(--prc);
}
.menu .menu-item-box .menu-item:hover {
    border-radius: 50%;
}
/*header part ends*/
/*home psrt starts*/
#home{
	background: url(../images/banner.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	z-index: 1;
	overflow: hidden;
	height: 100vh;
}
#home:after{
	position: absolute;
	content: '';
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.70);
}
#home h1{
	font-family: 'Fjalla One', sans-serif;
	color: var(--hc);
	font-size: 4vw;
	padding-top: 15vh;
	position: relative;
}
#home h1:after{
	position: absolute;
	content: '';
	width: 10%;
	height: 8px;
	background: var(--prc);
	left: -130px;
	top: 19vh;
}
#home h1 span{
	color: var(--prc);
}
#home p{
	font-family: 'Fjalla One', sans-serif;
	font-size: 1vw;
	color: var(--prcfi);
	background: var(--bgc);
	display: inline-block;
	line-height: 40px;
	padding: 0px 20px;
	border-radius: 2px;
	margin: 30px 0;
}
#home a{
	font-family: 'Fjalla One', sans-serif;
	background: var(--prc);
	color: var(--bgc);
	display: inline-block;
	padding: 0px 25px;
	line-height: 40px;
	font-size: 1vw;
	border-radius: 2px;
	transition: all linear 0.3s;
}
#home a:hover{
	box-shadow: 0 0 10px 0 var(--prc);
	color: var(--hc)
}
/*home part ends*/
/*about part starts*/
#about{
	height: auto;
	background: var(--bgc);
	padding-bottom: 0px;
}
#about .about-part .about-img-part{
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
	margin-bottom: 60px;
}
#about .about-part .about-img-part:before{
	position: absolute;
	content: '';
	width: 80%;
	height: 100%;
	background: var(--prcfi);
	top: 60px;
	left: 20px;
	z-index: -1;
}
#about .about-part .about-img-part .about-img{
	position: relative;
}
#about .about-part .about-img-part .about-img:after, #about .about-part .about-img-part .about-img:before{
	position: absolute;
	content: '';
	z-index: -2;
	width: 40%;
	height: 40%;
}
#about .about-part .about-img-part .about-img:after{
	background: url(../images/comic-dots-bottom.png) no-repeat center;
	background-size: cover;
	bottom: -80px;
	right: 10px;	
}
#about .about-part .about-img-part .about-img:before{
	background: url(../images/comic-dots-top.png) no-repeat center;
	background-size: cover;
	top: -20px;
	left: -20px
}
#about .about-part .about-img-part .about-img img{
	width: 80%;
	margin-left: 60px;
}
#about .about-part p.common{
	position: relative;
	padding-left: 12%;;
}
#about .about-part p.common:after{
	position: absolute;
	content: '';
	width: 10%;
	height: 2px;
	background: var(--prc);
	left: 0;
	top: 15px
}
#about .about-part p.common2:nth-of-type(2){
	padding: 30px 0;
}
#about .about-part .bio{
	width: 90%;
	height: auto;
	padding: 30px 20px;
	background: var(--pcd);
	margin-top: 20px;
}
#about .about-part .bio p{
	color: var(--hc);
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: capitalize;
	padding: 10px 0;
}
#about .about-part .bio span{
	color: var(--hc);
	font-family: 'Roboto Condensed', sans-serif;
	padding: 10px 0;
	display: inline-block;
}
#about .about-skill{
	padding-top: 50px;
	background: var(--pcd);
	margin-top: 80px;
	padding-bottom: 100px;
}
#about .about-skill h3{
	padding: 10px 0px;
}
#about .about-skill .progress{
	height: 16px;
	margin: 10px 0px;
}
#about .about-skill .progress .progress-bar{
	background: var(--prc);
	transition: all linear 0.3s;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	color: var(--pcd);
}
/*about part ends*/
/*service part starts*/
#service{
	height: auto;
	background: var(--bgc);	
}
#service .box{
	background: var(--pcd);
	padding: 30px 25px;
	box-sizing: border-box;
	margin-bottom: 30px;
	transition: transform 0.6s;
}
#service .box i{
	color: var(--prc);
	font-size: 40px;
	margin-bottom: 20px;
}
#service .box h3.common{
	position: relative;
	margin-bottom: 20px;
}
#service .box h3.common:after{
	position: absolute;
	content: '';
	width: 20%;
	height: 2px;
	background: var(--prc);
	left: 0;
	bottom: -15px;
}
#service .box:hover{
	transform: translateY(-10px);
	box-shadow: 5px 5px 10px 0px #212122;
}
#service .box:hover h3.common:after{
	width: 30%;
}
/*services part ends*/
/*portfolio part starts*/
#portfolio{
	height: auto;
	background: var(--pcd);
	padding-bottom: 0;
}
#portfolio .btn{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
#portfolio .btn button{
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	border: 0;
	background: none;
	color: var(--hc);
	padding: 0 10px;
	margin: 10px 20px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	transition: all linear 0.3s;
}
#portfolio .btn button:after{
	position: absolute;
	content: '';
	width: calc(100% - 20px);
	height: 2px;
	background: var(--prc);
	bottom: -3px;
	left: 10px;
	opacity: 0;
}
#portfolio .btn button:hover , #portfolio .btn button.mixitup-control-active, #portfolio .btn button:hover:after, #portfolio .btn button.mixitup-control-active:after{
	opacity: 1;
	color: var(--prc);
}
#portfolio .filter{
	overflow: hidden;
}
#portfolio .filter .mix{
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
}
#portfolio .filter .mix .prot-ov{
	position: absolute;
	top: 0;
	left: 0;
	width: 92%;
	height: 100%;
	margin-left: 15px;
	position: absolute;
	bottom: 70px;
	background: var(--pcd);
	transition: all linear 0.4s;
	opacity: 0;
}
#portfolio .filter .mix .prot-ov a i{
	position: absolute;
	top: 50px;
	right: 50px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: var(--hc);
}
#portfolio .filter .mix .prot-ov h3.common{
	margin-left: 50px;
	position: absolute;
	bottom: 70px;
	left: 80px;
	opacity: 0;
	transition: all linear 0.3s;
}
#portfolio .filter .mix .prot-ov p{
	color: var(--prc);
	margin-left: 50px;
	position: absolute;
	bottom: 45px;
	left: -80px;
	opacity: 0;
	transition: all linear 0.3s;
}
#portfolio .filter .mix:hover .prot-ov{
	opacity: 1;
	box-shadow: inset 0 0 0 10px #f1f1f1;
}
#portfolio .filter .mix:hover .prot-ov h3.common{
	opacity: 1;
	bottom: 70px;
	left: 5px;
}
#portfolio .filter .mix:hover .prot-ov p{
	bottom: 45px;
	left: 5px;
	opacity: 1;
}
#portfolio .client{
	width: 100%;
	background: var(--bgc);
	margin-top: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
}
#portfolio .client .underline{
	margin-bottom: 20px;
}
#portfolio .client .slid{
	width: 100%;
}
#portfolio .client .slid .slid-part{
	width: 50%;
	padding: 30px 25px;
	margin: 50px;
	background: var(--pcd);
	box-sizing: border-box;
	cursor: grab;
}
#portfolio .client .slid .slid-part img{
	width: 70px;
	height: 70px;
	background: #000;
	border-radius: 50%;
	float: left;
}
#portfolio .client .slid .slid-part h3.common{
	margin-left: 90px;
}
#portfolio .client .slid .slid-part p.common3{
	margin-left: 90px;
	margin-bottom: 30px;
}
#portfolio .client .slid .slid-part p.common2{
	padding-right: 30px;
	line-height: 28px;
	margin-top: 40px;
}
#portfolio .client .slid ul.slick-arrow i{
	color: var(--prc);
	position: absolute;
	bottom: -30px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	border: 1px solid var(--prc);
	text-align: center;
	cursor: pointer;
}
#portfolio .client .slid ul.slick-arrow i.left_arrow{
	left: 45%;
}
#portfolio .client .slid ul.slick-arrow i.right_arrow{
	right: 45%;
}
#portfolio{}
/*portfolio part ends*/
/*blog part starts*/
#blog{
	height: auto;
	background: var(--pcd);
}
#blog .blog-item{
	overflow: hidden;
	background: var(--bgc);
}
#blog .blog-item .blog-img{
	overflow: hidden;
	cursor: pointer;
}
#blog .blog-item .blog-img img{
	width: 100%;
}
#blog .blog-item .blog-content{
	padding: 30px 25px;
}
#blog .blog-item .blog-content a:nth-of-type(1){
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: var(--hc);
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
	margin-top: 5px;
}
#blog .blog-item .blog-content p.common2{
	padding: 15px 0;
}
#blog .blog-item .blog-content a:nth-of-type(2){
	font-family: 'Fjalla One', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: var(--hc);
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
}
#blog .blog-item .blog-content a:hover{
	color: var(--prc);
}
#blog .blog-item:hover{
	box-shadow: 0px 0px 10px 0px var(--prc);
}
#blog .blog-item:hover .blog-img img{
	transform: scale(1.1);
}

/*blog part ends*/
#contact{
	height: auto;
	position: relative;
	background: var(--bgc);
	z-index: 1;
}
#contact:after{
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: url(../images/contactbg.png) no-repeat center;
	background-size: cover;
	z-index: -1;
}
#contact .coni{
	width: 100%;
	height: 100%;
	background: var(--pcd);
	padding: 20px 15px;
	box-sizing: border-box;
}
#contact .coni i{
	color: var(--prc);
	font-size: 25px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: var(--bgc);
	display: inline-block;
	border-radius: 5px
}
#contact .coni h3{
	display: inline-block;
	padding-left: 20px;
}
#contact .coni p{
	padding-top: 25px;
}
#contact form {
	width: 100%;
	background: var(--pcd);
	margin-top: 40px;
}
#contact form input[type=email], #contact form input[type=text]{
	width: 48%;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	margin: 10px 10px;
	display: inline-block;
	background: var(--bgc);
	border: none;
	outline: 0;
	color: var(--hc);
}
#contact form input[type=text].sub{
	width: 98%;
}
#contact form textarea{
	width: 98%;
	height: 200px;
	line-height: 50px;
	padding-left: 10px;
	margin: 10px 10px;
	display: inline-block;
	background: var(--bgc);
	border: none;
	outline: 0;
	color: var(--hc);
	resize: none;
}
#contact form button{
	width: 98%;
	height: 50px;
	background: var(--prc);
	color: var(--hc);
/*	color: var(--bgc);*/
	border: none;
	margin: 10px 10px;
	text-transform: uppercase;
}
/*contact part ends*/
/*footer part starts*/
footer{
	width: calc(100% - 80px);
	background: var(--pcd);
	margin-left: 80px;
}
footer ul{
	display: flex;
	justify-content: center;
}
footer ul li{
	display: inline-block;
	margin: 40px 20px;
}
footer ul li a i:before{
	font-size: 20px;
	color: var(--hc);
}
footer p{
	text-align: center;
	padding-bottom: 40px;
}
footer a:hover i:before{
	color: var(--prc)
}
footer p a{
	text-transform: uppercase;
}
footer p a:hover{
	color: var(--prc)
}
/*footer part ends*/






/*color picker*/
.color_picker{
	width: 350px;
	height: 40px;
	position: fixed;
	right: -310px;
	top: 200px;
	background: var(--bgc);
	z-index: 99;
	display: flex;
}
.color_picker.r0{
	right: 0;
}
.color_picker div{
	width: 30px;
	height: 30px;
	margin: 5px 10px;
	border-radius: 50%;
}
.color_picker div i{
	font-size: 30px;
	color: var(--prc);
	line-height: 30px;
	animation: rotate 3s linear infinite;
	cursor: pointer;
}
@keyframes rotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
.color_picker div.red{
	background: #ff3d3d;
	cursor: pointer;
}
.color_picker div.blue{
	background: #3d8fff;
	cursor: pointer;
}
.color_picker div.green{
	background: #22c622;
	cursor: pointer;
}
.color_picker div.golden{
	background: #f3c26b;
	cursor: pointer;
}
.color_picker div.yellow{
	background: #fff83d;
	cursor: pointer;
}
.color_picker div.gray{
	background: #999999;
	cursor: pointer;
}
/*color picker*/
/*top botton*/
.top{
	width: 70px;
	position: fixed;
	right: 40px;
	bottom: 0px;
	height: auto;
	font-family: 'Fjalla One', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: var(--pc);
	transform: rotate(-90deg) translateX(100px);
	overflow: hidden;
	letter-spacing: 5px;
	cursor: pointer;
	z-index: 99;
}
.top p{
	font-size: 20px;
	position: relative;
}
.top p:after{
	position: absolute;
	content: '';
	width: 40%;
	height: 2px;
	background: var(--prc);
	top: 50%;
	right: -1%;
}
.top p:before{
	position: absolute;
	content: '';
	width: 40%;
	height: 2px;
	background: #fff;
	left: -45%;
	top: 50%;
}
.top:hover p{
	transform: translateX(30px);	
}
/*top botton*/
/*preloader*/
.loader{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.70);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0s;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}
/*preloader*/
/*padding*/
.ptop-10{
	padding-top: 10px;
}
.ptop-20{
	padding-top: 20px;
}
.ptop-30{
	padding-top: 30px;
}
.ptop-40{
	padding-top: 40px;
}
.ptop-50{
	padding-top: 50px;
}
.ptop-60{
	padding-top: 60px;
}
.ptop-100{
	padding-top: 100px;
}
/*padding*/

/*----------responsive----------*/
@media (max-width: 1600px) and (min-width: 1200px){
	#home{
		padding-left: 200px;
		box-sizing: border-box;
	}
}
@media (max-width: 1199px) and (min-width: 992px){
	#home h1:after{
		width: 0;
	}

}
/*medium devices*/
@media (max-width: 991px) and (min-width: 768px){
	
}
/*small devices*/
@media (max-width: 767px) and (min-width: 576px){
	section{
		width: 100%;
		height: auto;
		padding: 80px 0px;
		margin-left: 0;
	}
	header {
        width: 100%;
        height: 60px;
    }
    .logo {
		position: fixed;
        padding: 8px;
        margin: 0;
        display: inline-block;
		z-index: 2;
		top: 10px;
    }
    .center-circle {
        margin-top: 10px;
        margin-left: 10px;
    }
    .go-down {
        right: 0;
        width: 60px;
        height: 60px;
		display: none;
    }
	.menu .menu-item i{
		margin: 0!important;
	}
    .menu:before,
    span.menu-item-name:before {
        content: none;
    }
	.menu {
        margin: 0;
        margin-top: 12px;
        padding: 15px;
    }
    .menu-item-box {
        display: inline-block;
        margin: 0 5px;
        margin-bottom: 0 !important;
    }
    span.menu-item-name {
        margin-top: 10px;
        margin-left: 0;
        left: 50%;
        top: 150%;
        transform: translate(-70%, -50%);
    }
	#home h1{
		font-size: 6vw;
	}
	#home h1:after{
		width: 0;
	}
	#home p{
		font-size: 2vw;
	}
	#home a{
		font-size: 2vw;
	}
	#about{
		height: auto;
	}
	#about .about-part .about-img-part{
		margin-bottom: 150px;
	}
	#about .about-part .bio{
		margin: 20px auto;
	}
	#about .about-skill{
		margin-top: 50px;
	}
	#portfolio .btn button{
		margin: 10px 10px;
	}
	#portfolio .client .slid ul.slick-arrow i.right_arrow{
		display: none;
	}
	#portfolio .client .slid ul.slick-arrow i.left_arrow{
		display: none;
	}
	#blog .blog-item{
		margin-top: 20px;
	}
	#contact .coni{
		margin-top: 10px;
	}
	footer{
		width: 100%;
		margin-left: 0;
	}
}
@media (max-width: 575px) and (min-width: 0px){
	section{
		width: 100%;
		height: auto;
		padding: 80px 0px;
		margin-left: 0;
	}
	header {
        width: 100%;
        height: 50px;
    }
    .logo {
		padding: 0;
        margin: 0;
        display: block;
    }
    .center-circle {
        margin-top: 10px;
        margin-left: 10px;
    }
    .go-down {
        right: 0;
        width: 60px;
        height: 60px;
		display: none;
    }
	.menu .menu-item-box.active .menu-item i{
		color: var(--prc);
	}
    .menu:before,
    span.menu-item-name:before {
        content: none;
    }
	.menu {
        margin: 0;
        padding: 10px;
    }
    .menu-item-box {
        display: inline-block;
        margin: 0 5px;
        margin-bottom: 0 !important;
    }
    span.menu-item-name {
        margin-top: 10px;
        margin-left: 0;
        left: 50%;
        top: 150%;
        transform: translate(-70%, -50%);
    }
	#home h1{
		font-size: 10vw;
	}
	#home h1:after{
		width: 0;
	}
	#home p{
		font-size: 4vw;
		margin: 35px 0;
	}
	#home a{
		font-size: 4vw;
	}
	#about{
		height: auto;
	}
	#about .about-part .about-img-part{
		margin-bottom: 100px;
	}
	#about .about-part .about-img-part .about-img:after, #about .about-part .about-img-part .about-img:before{
		width: 0;
		height: 0;
	}
	#about .about-part .bio{
		margin: 40px auto;
	}
	#about .about-skill{
		margin-top: 50px;
	}
	#portfolio .btn button{
		margin: 10px 10px;
		font-size: 14px;
	}
	#portfolio .client .slid ul.slick-arrow i.right_arrow{
		display: none;
	}
	#portfolio .client .slid ul.slick-arrow i.left_arrow{
		display: none;
	}
	.top{
		bottom: -10px;
		right: 10px;
	}
	#blog .blog-item{
		margin-top: 20px;
	}
	#contact .coni{
		margin-top: 10px;
	}
	footer{
		width: 100%;
		margin-left: 0;
	}
}